body{
    box-sizing: border-box;
    margin: 0;
    background-color:#fff;
}
@font-face {
    font-family: 'Barriecito';
    src:  url('Barriecito-Regular.ttf') format('truetype');

  }

#app-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#top-bar{
    display: flex;
    align-items: center;
    background-color:#fff;
    width: 100vw;
    height: 5vh;
    box-shadow: 0 3px 3px -1px #c3c6c6;
   
}

#top-bar-title{
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barriecito', cursive;
    font-size: 1.8rem;
    color: #001927;
    font-weight: bold;
    
}

p[data-end]::before {
    content: attr(data-end) ;
    color: #00BBBB;

  }

#top-bar-icon{
    margin-left: 20px;
    width: 2.3rem;
}
#top-bar-add-task-icon{
    margin-left: auto;
    margin-right: 20px;
    width: 2.2rem;
}

#content-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;

}

#sidebar{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    
}

#left-menu{
    height: 30%;
    width: 90%;
    background-color: #eab308;
    border-radius: 0.7rem;
    
}

#left-menu>ul{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
}

ul>li{
    font-family: 'Barriecito', cursive;
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;

}

#inbox{
    display: flex;
    align-items: center;
}

#today{
    display: flex;
    align-items: center;
    
}

li > img {
  margin-right: 1rem;
  padding: 0;
}

#projects-container{
    height: 60%;
    width: 90%;
    background-color: #001927;
    opacity: .9;
    border-radius: 0.7rem;
    font-family: 'Barriecito', cursive;
    display: flex;
    flex-direction: column;
    overflow: auto;


}

#projects-top-bar{
    display: flex;
    justify-content: space-between;
}

#projects-title{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

#main-content{
    flex-grow: 7;
    height: 95%;
    align-self: center;
    opacity: .5;
    margin-right: 20px;
    border-radius: 1.2rem;
    background-image: url("../images/background-image-empty-list.png");
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: center;

}

