body{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: 'Barriecito';
    src:  url('Barriecito-Regular.ttf') format('truetype');

  }

#app-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#top-bar{
    display: flex;
    background-color:#0d9488;
    width: 100vw;
    height: 5vh;
}
#app-title{
    font-family: 'Barriecito', cursive;
    font-size: 1.6rem;
    color: #eab308;
    font-weight: bold;
}
#content-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: aqua;
}

#left-menu{
    flex-grow: 1;
    background-color: bisque;
}

#main-content{
    flex-grow: 4;
    background-color: greenyellow;
}