body{
    margin: 0;
    background-color:#fff;
    color: #001927;

}

*,
*::after {
    box-sizing: border-box;
}

#overlay{
    position: absolute;
    display: none ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
    z-index: 2
}

#form-container.active, 
#overlay.active{
    display: block;
}

@font-face {
    font-family: 'Barriecito';
    src:  url('Barriecito-Regular.ttf') format('truetype');

}

#app-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#top-bar{
    display: flex;
    align-items: center;
    background-color:#fff;
    width: 100vw;
    height: 5vh;
    box-shadow: 0 3px 3px -1px #c3c6c6;
   
}

#top-bar-title{
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barriecito', cursive;
    font-size: 1.8rem;
    color: #001927;
    font-weight: bold;
    
}

p[data-end]::before {
    content: attr(data-end) ;
    color: #00BBBB;

  }

#top-bar-icon{
    margin-left: 20px;
    width: 2.3rem;
}

#top-bar-add-task-icon{
    margin-left: auto;
    margin-right: 20px;
    width: 2.2rem;
}

#content-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;

}

#sidebar{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    min-width: 400px;
}

#left-menu{
    height: 30%;
    width: 90%;
    background-color: #eab308;
    border-radius: 0.7rem;
    
}

#left-menu>ul{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
}

ul>li{
    font-family: 'Barriecito', cursive;
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
}

#inbox{
    display: flex;
    align-items: center;
}

#today{
    display: flex;
    align-items: center;
    
}

li > img {
  margin-right: 1rem;
  padding: 0;
}

#projects-container{
    height: 60%;
    width: 90%;
    background-color: #001927;
    opacity: .9;
    border-radius: 0.7rem;
    font-family: 'Barriecito', cursive;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#projects-top-bar{
    font-size: 1.2rem;
    display: flex;
    padding-top: 1rem;
    padding-left: 2.3rem;
    align-items: center;
}

#new-project{
    display: flex;
    text-align:left;
    
}

#new-project.inactive{
    display: none;
}

.projects-content{
    align-self: center;
    width: 90%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: .5rem;

}

.projects-content:hover {
    cursor: pointer;
    background-color: #3b3f42;
}

#add-project-wrapper{
    display: flex;
    flex-direction: column;
}

#new-project-popup{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


 #new-project-popup.active{
    display: flex;
}

#project-name-input{
    width: 80%;
    height: 25px;
    border-radius: .2rem;
    border: none;
    outline: none;
    font-family: inherit;
}

#project-buttons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-buttons-wrapper>button{
    background-color:#eab308;
    color:#001927;
    font-family: inherit;
    border: none;
    outline: none;
    font-size: .9rem;
    border-radius: .2rem;
    width: 55px;
    height: 20px;
    margin-top: .4rem;
    margin-right: .4rem;
}

#project-buttons-wrapper>button:hover{
    cursor: pointer;
}

#main-content{
    flex-grow: 4;
    height: 95%;
    align-self: center;
    margin-right: 20px;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
   
}

.empty-task-list-background{
    background-image: url("../images/background-image-empty-list.png");
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: center;
}

#todo-list-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-name{
    font-family: 'Barriecito', cursive;
    color:#001927;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 30px;
    width: 50%;
}

.task-card{
    width: 50%;
    border-bottom-color: #001927;
    border-bottom-style: solid;
    border-bottom-width: thin;
    font-family: 'Barriecito', cursive;
    font-size: .9rem;
    display: flex;
    line-height: 1.3rem;
    margin-bottom: .5rem;
}

div[data-priority-color]{
    background-color: red;
    min-width: 10px;

}

#task-checkbox:hover{
    cursor: pointer;
}

#task-checkbox:checked{
   accent-color: #001927;
}

div[data-details],
div[data-due-date]{
    font-size: .7rem;
    color: #001927;
    opacity: .8;
}

.task-action-items{
    margin-left: auto;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.task-action-items>button{
    outline: none;
    border: none;
    background-color: #fff;
}

.task-action-items>button:hover{
    cursor: pointer;
    background-color: rgb(233, 228, 224);
    border-radius: .2rem;
}

#form-container{
    position: absolute;
    display: none ;
    width: 25%;
    height: 30%;
    top: 20%;
    left: 50%;
    background-color: rgb(233, 228, 224);
    border-radius: 0.7rem;
    z-index: 3;

}

#task-form{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: none;
    margin: auto;
}

#task-form>* {
    border: none;
    border-radius: 0.2rem;
    color:#001927;
    background-color: inherit;
    font-size: 1rem;
}

#task-form-name-desc-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 60%;

}

#task-form-name-desc-wrapper>*{
    color:#001927;
    background-color: inherit;
    border: none;
    outline:  none;
    padding-left: 2rem;
}

#task-name{
    font-size: 1.3rem;
    flex-grow: 1;
}

#task-description{
    flex-grow: 3;
    font-size: .9rem;
    resize: none;
}

#task-form-select-wrapper{
    display: flex;
    justify-content: space-evenly;
}

#task-form-select-wrapper>*{
    font-size: .9rem;
    color:#001927;
    background-color: inherit;
    border: none;
    justify-content: center;
    align-items: center;

}

#task-form-select-wrapper>*:hover,
#task-form-select-wrapper>*:focus{
    cursor: pointer;
    outline: none;

}

#task-buttons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#task-buttons-wrapper>*{
    background-color:#001927;
    width: 18%;
    height: 120%;
    font-size: .8rem;
    font-weight: bold;
    color: #fff;
    margin-left: .5rem;
    border-radius: .3rem;
}

#task-buttons-wrapper>button:hover,
#task-buttons-wrapper>button:focus{
    cursor: pointer;
    outline: none;
}


#add-task-button{
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    background-color:#001927;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
}

#add-task-button:hover,
#add-task-button:focus,
#form-btn:hover,
#form-btn:focus{
    cursor: pointer;
    transform: scale(1.1);
}


