:root{
--opaque-dark: #001927;
--transparent-dark: rgba(0, 0, 0, .75);
--opaque-grey: rgb(233, 228, 224);
--primary-light: #fff;
--logo-color: #00BBBB;
--primary-orange: #eab308;
--container-border-radius: 0.7rem;
}

@font-face {
    font-family: 'Barriecito';
    src:  url('Barriecito-Regular.ttf') format('truetype');
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--primary-light);
    color: var(--opaque-dark);
}

#overlay{
    position: absolute;
    display: none ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--transparent-dark);
    z-index: 2
}

#form-container.active, 
#overlay.active{
    display: block;
}

#app-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#top-bar{
    display: flex;
    align-items: center;
    background-color:var(--primary-light);;
    width: 100vw;
    height: 5vh;
    box-shadow: 0 3px 3px -1px #c3c6c6;
}

#top-bar-title{
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barriecito', cursive;
    font-size: 1.8rem;
    color:  var(--opaque-dark);
    font-weight: bold;
}

p[data-end]::before {
    content: attr(data-end) ;
    color: var(--logo-color);
}

#top-bar-icon{
    margin-left: 20px;
    width: 2.3rem;
}

#top-bar-add-task-icon{
    margin-left: auto;
    margin-right: 20px;
    width: 2.2rem;
}

#content-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#sidebar{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-light);;
    min-width: 400px;
}

#left-menu{
    height: 30%;
    width: 90%;
    background-color: var(--primary-orange);
    border-radius: var(--container-border-radius);
}

#left-menu>ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    width: 90%;
}

ul>li{
    display: flex;
    align-items: center;
    font-family: 'Barriecito', cursive;
    list-style: none;
    cursor: pointer;
    font-size: 1.3rem;
}

li > img {
  margin-right: 1rem;
  padding: 0;
}

#projects-container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 60%;
    width: 90%;
    background-color:  var(--opaque-dark);
    border-radius: var(--container-border-radius);
    font-family: 'Barriecito', cursive;
}

#projects-top-bar{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-left: 2.3rem;
    padding-bottom: 1rem;
}

#create-project-div{
    display: flex;
    align-items: center;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color:var(--primary-orange);
}

#create-project-div.inactive,
.task-card.inactive{
    display: none;
}

.projects-content{
    align-self: center;
    width: 80%;
    height: 25px;
    margin-top: .5rem;
    border-radius: .5rem;
}

#add-project-wrapper{
    display: flex;
    flex-direction: column;
}

#new-project-popup{
    display: none;
}

 #new-project-popup.active{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

#project-name-input{
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: .2rem;
}

#project-buttons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-buttons-wrapper>button{
    background-color:var(--primary-orange);
    color: var(--opaque-dark);
    font-family: inherit;
    border: none;
    outline: none;
    font-size: .9rem;
    border-radius: .2rem;
    width: 55px;
    height: 20px;
    margin-top: .4rem;
    margin-right: .4rem;
}

#project-buttons-wrapper>button:hover{
    cursor: pointer;
}

.project-card{
    display: flex;
    align-items: center;
}

div[data-project-delete]{
    margin-left: auto;
    padding-right: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color:  var(--opaque-dark);
}

div[data-project-delete]:hover{
    color: var(--primary-light);;
}

div[data-project-title]{
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.project-selected:hover {
    cursor: pointer;
    background-color: #3b3f42;
    border-radius: .2rem;
}

#main-content{
    flex-grow: 4;
    height: 95%;
    align-self: center;
    margin-right: 20px;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
}

.empty-task-list-background{
    background-image: url("../images/background-image-empty-list.png");
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: center;
}

#todo-list-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-name{
    font-family: 'Barriecito', cursive;
    color: var(--opaque-dark);
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 30px;
    width: 50%;
}

.task-card{
    width: 50%;
    border-bottom-color:  var(--opaque-dark);
    border-bottom-style: solid;
    border-bottom-width: thin;
    font-family: 'Barriecito', cursive;
    font-size: .9rem;
    display: flex;
    line-height: 1.3rem;
    margin-bottom: .5rem;
}

div[data-priority-color]{
    min-width: 10px;
}

#task-checkbox:hover{
    cursor: pointer;
}

#task-checkbox:checked{
   accent-color:  var(--opaque-dark);
}

div[data-details],
div[data-due-date]{
    font-size: .7rem;
    color:  var(--opaque-dark);
    opacity: .8;
}

.task-action-items{
    margin-left: auto;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.task-action-items>button{
    outline: none;
    border: none;
    background-color: var(--primary-light);;
}

.task-action-items>button:hover{
    cursor: pointer;
    background-color: var(--opaque-grey);
    border-radius: .2rem;
}

#form-container{
    position: absolute;
    display: none ;
    width: 25%;
    height: 30%;
    top: 20%;
    left: 50%;
    background-color: var(--opaque-grey);
    border-radius: var(--container-border-radius);
    z-index: 3;
}

#task-form{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: none;
    margin: auto;
}

#task-form>* {
    border: none;
    border-radius: 0.2rem;
    color: var(--opaque-dark);
    background-color: inherit;
    font-size: 1rem;
}

#task-form-name-desc-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 60%;
}

#task-form-name-desc-wrapper>*{
    color: var(--opaque-dark);
    background-color: inherit;
    border: none;
    outline:  none;
    padding-left: 2rem;
}

#task-name{
    font-size: 1.3rem;
    flex-grow: 1;
}

#task-description{
    flex-grow: 3;
    font-size: .9rem;
    resize: none;
}

#task-form-select-wrapper{
    display: flex;
    justify-content: space-evenly;
}

#task-form-select-wrapper > *{
    font-size: .9rem;
    color: var(--opaque-dark);
    background-color: inherit;
    border: none;
    justify-content: center;
    align-items: center;
}

#task-project{
    color: var(--opaque-dark);
}

#task-form-select-wrapper>*:hover,
#task-form-select-wrapper>*:focus{
    cursor: pointer;
    outline: none;
}

#task-buttons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#task-buttons-wrapper>*{
    background-color: var(--opaque-dark);
    width: 18%;
    height: 25px;
    font-size: .8rem;
    font-weight: bold;
    color: var(--primary-light);;
    margin-left: .5rem;
    border-radius: .3rem;
    outline: none;
    border: none;
}

#task-buttons-wrapper>input:hover,
#task-buttons-wrapper>input:focus, 
#task-buttons-wrapper>button:hover{
    cursor: pointer;
    background-color: var(--primary-orange);
    color: var(--opaque-dark);
}

#form-btn-save[disabled]{
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events:none;
}

#add-task-button{
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    background-color: var(--opaque-dark);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
}

#add-task-button:hover,
#add-task-button:focus,
#form-btn:hover,
#form-btn:focus{
    cursor: pointer;
    transform: scale(1.1);
}

